<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.side.account.dao.LoginMapper">
<!--    <resultMap id="BaseResultMap" type="com.example.side.register.dto.RegisterAccount">-->
<!--        <id column="id" jdbcType="INTEGER" property="id" />-->
<!--        <result column="user_name" jdbcType="VARCHAR" property="name" />-->
<!--        <result column="user_email" jdbcType="VARCHAR" property="email" />-->
<!--        <result column="user_password" jdbcType="VARCHAR" property="passWord" />-->
<!--        <result column="create_time" jdbcType="VARCHAR" property="createTime" />-->
<!--    </resultMap>-->



</mapper>